<mat-form-field appearance="outline" class="w-full">
  <mat-label>{{type?.name | titlecase }} tags</mat-label>
  <mat-chip-list #tagsChips aria-label="Tags">
    <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
      {{tag.name}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input placeholder="New {{type?.name}} tag..."
            #chipInput
            [formControl]="tagCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="tagsChips"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tagName of filteredTagNames | async" [value]="tagName">
      {{tagName}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
