<mat-card>
  <form
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-2">
      <h2> {{ !!selected ? 'Update' : 'New' }} category </h2>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="nameControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type">{{type.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="typeControl.hasError('required')">
          Type is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="typeControl.valid" appearance="outline" class="w-full">
        <mat-label>{{typeControl.value.name | titlecase }} tags</mat-label>
        <mat-chip-list aria-label="Dog selection" selectable multiple>
          <mat-chip *ngFor="let tag of tags" [selected]="isTagSelected(tag)" (click)="onTagClicked(tag)">
            {{tag.name}}
          </mat-chip>
        </mat-chip-list>
        {{form.controls.tags.value | json }}
        <mat-hint>Select the tags associated to the category</mat-hint>
      </mat-form-field>
    </div>
    <div class="flex justify-end gap-2">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
      <button mat-raised-button color="accent" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</mat-card>

<div>

